# Next.js
ANALYZE=
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Database (Supabase)
SUPABASE_DATABASE_SECRET_KEY=
SUPABASE_DATABASE_DIRECT_IPV6=
SUPABASE_DATABASE_TRANSACTION_POOLER=
SUPABASE_DATABASE_SESSION_POOLER_NOT_RECOMMENDED=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=

# Auth (Better Auth)
BETTER_AUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
